 .u-section-1 {
  background-image: linear-gradient(170deg, rgba(6,40,71,0.9607843137254902), #25517a);
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-text-1 {
  margin: 67px auto 0 129px;
}

.u-section-1 .u-text-2 {
  margin: -6px auto 0 129px;
}

.u-section-1 .u-text-3 {
  margin: 5px auto 0 129px;
}

.u-section-1 .u-group-1 {
  width: 250px;
  height: 250px;
  --radius: 15px;
  margin: -126px 129px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 15px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 5px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 6px 17px 0;
}

.u-section-1 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 7px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 93px auto 60px 129px;
  padding: 12px 42px 12px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 184px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -369px;
    margin-left: auto;
  }
}